{% extends 'base.html' %}
{% block title %}Update Summary: Elastic Load Balancers{% endblock %}
{% block body %}
    <h1>{{plan.project_name}}</h1>
    {% for elb_state in elb_states %}
    <h3>{{ elb_state.elb_name }}</h3>
    <hr />
    <table>
    <thead>
        <tr><th>Id</th><th>Name</th><th>State</th></tr>
    </thead>
    <tbody>
        {% for instance_state in elb_state.instance_states %}
        <tr>
            <td>{{ instance_state.instance_id }}</td>
            <td>{{ instance_state.instance_name }}</td>
            <td>{{ instance_state.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endfor %}
{% endblock %}
