<!DOCTYPE html>
<html>
    <head>
        <title>Modules in {{profile.name}}: {{region.full_name}}</title>
        <style>
html,body{
    font-size: 14px;
    font-family: Inconsolata, "Ubuntu Mono", Consolas;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 5px;
}
        </style>
    </head>
    <body>
        <h1>Modules in {{profile.name}}: {{region.full_name}}</h1>
        <a href="/update/new_module/">New Module</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Num of Hosts</th>
                    <th>Load Balancers</th>
                    <th>JSON</th>
                    <th>Is Primary</th>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                <tr>
                    <td>{{module.name}}</td>
                    <td>{{module.current_version}}</td>
                    <td>{{module.instance_count}}</td>
                    <td>{{module.load_balancer_names}}</td>
                    <td><a href="{% url 'edit_module_json' module.id %}">Edit JSON</a></td>
                    <td>
                        {% if module.is_online_version %}Yes{% else %}No  <a href="#module_set_primary_{{module.id}}">Set as Primary</a>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
