{% extends 'layout.html' %}
{% block title %}Modules in {{profile.name}}: {{region.full_name}}{% endblock %}
{% block body %}
<h3 class="header smaller">Modules in {{profile.name}}: {{region.full_name}}</h3>
        <a class="btn btn-sm btn-primary no-border" href="/prdbsxt/update/new_module/">New Module</a>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Num of Hosts</th>
                    <th>Load Balancers</th>
                    <th>JSON</th>
                    <th>Is Primary</th>
                    <th>Service Type</th>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                <tr>
                    <td>{{module.id}}</td>
                    <td>{{module.name}}</td>
                    <td>{{module.current_version}}</td>
                    <td>{{module.instance_count}}</td>
                    <td>{{module.load_balancer_names}}</td>
                    <td>
                        <a class="btn btn-xs btn-info no-border" href="{% url 'updateplanmgr:edit_module_json' module.id %}">Edit JSON</a>
                        <a class="btn btn-xs btn-info no-border" href="{% url 'updateplanmgr:edit_module' module.id %}">Edit</a>
                    </td>
                    <td>
                        {% if module.is_online_version %}Yes{% else %}No<!--  <a class="btn btn-xs btn-white no-border" href="#module_set_primary_{{module.id}}">Set as Primary</a>-->{% endif %}
                    </td>
                    <td>{{module.service_type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
