{% extends 'layout.html' %}
{% block title %}UpdatePlan{% endblock %}
{% block body %}
<h3 class="header smaller" style="margin-top: 320px;">
    {{plan.project_name}}
    <small>
        <i class="icon-double-angle-right"></i>
        {{plan.project_code}} -- {{plan.project_leader}}
    </small>
</h3>
<p>
    <a class="btn btn-sm btn-info no-border" href="{% url 'updateplanmgr:instances_summary' plan_id=plan.id %}" target="_blank">
        <i class="icon-desktop"></i>
        Check EC2 Status
    </a>
    <a class="btn btn-sm btn-info no-border" href="{% url 'updateplanmgr:elb_summary' plan_id=plan.id %}" target="_blank">
        <i class="icon-random"></i>
        Check ELB Status
    </a>
    <a class="btn btn-sm btn-info no-border" href="{% url 'updateplanmgr:actionlogs' plan_id=plan.id %}" target="_blank">
        <i class="icon-list"></i>
        View Action Logs
    </a>
    <a class="btn btn-sm btn-info no-border" href="{{alarm_url}}" target="_blank">
        <i class="icon-bell"></i>
        Open Alarm Page
    </a>
    <a class="btn btn-sm btn-success no-border" style="float:right;" onclick="window.location.reload()">
        <i class="icon-refresh"></i>
        Refresh
    </a>
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Step</th>
            <th>Region</th>
            <th>Module</th>
            <!--<th>New Version</th>-->
            <th>New EC2</th>
            <th>Old Version</th>
            <th>Old EC2</th>
            <th>ELB</th>
            <!--<th>ELB State</th>-->
            <th>ELB Actions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for step in steps %}
        <tr>
            <td>{{step.sequence}}</td>
            <td>{{step.module.region.full_name}}</td>
            <td>{{step.module.display_name}}</td>
            <!--<td>{{step.module.current_version}}</td>-->
            <td>
                <button class="btn btn-xs no-border btn-primary" onclick="run_module_ec2({{step.id}})">Run</button>
                <span>{{step.module.healthy_instance_count}}/{{step.module.instance_count}}</span>
            </td>
            <td>
                <button class="btn btn-xs no-border btn-inverse" onclick="disable_module_alarm({{step.id}})">
                    <i class="icon-bell"></i>
                    Disable Alarm
                </button>
                {{step.module.previous_version}}
            </td>
            <td>
                <button class="btn btn-xs no-border btn-danger" onclick="stop_module_previous_ec2({{step.id}})">Stop</button>
                <span>{{step.module.previous_module.healthy_instance_count}}/{{step.module.previous_module.instance_count}}</span>
            </td>
            <td>{{step.module.load_balancer_names}}</td>
            <!--<td>
                <span id="spanElbState"></span>
                <button class="btn btn-xs no-border btn-info" onclick="check_module_elb_health({{step.id}})">Check</button>
            </td>-->
            <td>
                {% if step.module.load_balancer_names %}
                <button class="btn btn-xs no-border btn-primary" onclick="reg_module_elb({{step.id}})">Reg. New</button>
                <button class="btn btn-xs no-border btn-danger" onclick="dereg_module_elb({{step.id}})">Dereg. Old</button>
                {% endif %}
            </td>
            <td>
                <!--<button class="btn btn-xs no-border btn-info" onclick="finish_step({{step.id}})">Mark</button>-->
                <!--<a target="_blank" href="{% url 'updateplanmgr:edit_module_json' step.module.id %}">Edit JSON</a>-->
                <a style="font-size:1.5em" target="_blank" href="{% url 'updateplanmgr:edit_module' step.module.id %}" title="Edit Module"><i class="icon-edit"></i></a>
                <a style="font-size:1.5em" target="_blank" href="./kickdevices/{{ step.id }}/" title="Kick Devices"><i class="icon-bolt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="widget-box" style="position: fixed; top: 50px; width: 85%;">
    <div class="widget-header widget-header-flat widget-header-small">
        <h5>Action Log</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div style="min-height:300px; height: 300px; overflow:auto;" id="divAjaxMessage"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block page_js %}
<script type="text/javascript">
function run_module_ec2(step_id) {
    if (!confirm("Run new instances?")) return;
    show_ajax_action("Launching EC2 instances ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/run_module_ec2/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id
        },
        success: function(instance_ids) {
            show_ajax_action(JSON.stringify(instance_ids));
            console.log(instance_ids);
            add_module_ec2_tags(step_id, instance_ids);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    });
}

function add_module_ec2_tags(step_id, instance_ids) {
    if (instance_ids.length == 0)
        return;
    show_ajax_action("Adding tags to EC2 instances ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/add_module_ec2_tags/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id,
            instance_ids: instance_ids
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            console.log(data);
            add_module_volume_tags(step_id, instance_ids);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    });
}

function add_module_volume_tags(step_id, instance_ids) {
    if (instance_ids.length == 0)
        return;
    show_ajax_action("Adding tags to EBS volumes ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/add_module_volume_tags/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id,
            instance_ids: instance_ids
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            console.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function stop_module_ec2(step_id) {
    if (!confirm("Stop these instances?")) return;
    show_ajax_action("Marking instances as 'to_stop' ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/stop_module_ec2/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            console.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function stop_module_previous_ec2(step_id) {
    if (!confirm("Stop old instances?")) return;
    show_ajax_action("Stopping ... Use [Check EC2 Status] to see latest status.");
    $.ajax({
        url: '/prdbsxt/update/ajax/stop_module_previous_ec2/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            console.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function reg_module_elb(step_id) {
    if (!confirm("Register new instances?")) return;
    show_ajax_action("Registering instances with load balancers ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/reg_module_elb/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            console.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function dereg_module_elb(step_id) {
    if (!confirm("Deregister old instances?")) return;
    show_ajax_action("Deregistering instances from load balancers ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/dereg_module_elb/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            console.log(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function finish_step(step_id) {
    if (!confirm("Finish this step?")) return;
    show_ajax_action("Finishing step ...");
    $.ajax({
        url: '/prdbsxt/update/ajax/finish_step/',
        method: 'post',
        dataType: 'json',
        data: {
            step_id: step_id
        },
        success: function(result) {
            show_ajax_action(JSON.stringify(result));
            if (result[0]) {
                alert("Step finished.")
                // TODO disable buttons here
            } else {
                alert("Cannot finish step: "+result[1])
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function check_module_elb_health(step_id) {
    $.ajax({
        url: "/prdbsxt/update/ajax/check_module_elb_health/",
        method: "post",
        dataType: "json",
        data: {
            step_id: step_id
        },
        success: function(data) {
            show_ajax_action(JSON.stringify(data));
            if (data) {
                $('#spanElbState').html(
                    data[0]+"/"+data[1]+" InService"
                );
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function disable_module_alarm(step_id) {
    $.ajax({
        url: "/prdbsxt/update/ajax/disable_module_alarm/",
        method: "post",
        dataType: "json",
        data: {
            step_id: step_id
        },
        success: function(result) {
            show_ajax_action(JSON.stringify(result));
            var message = "Notice: OpenFalcon returns '200 OK' no matter the result. Use the alarm page to make sure alarms are disabled.";
            show_ajax_action(message);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            show_ajax_error(jqXHR, textStatus, errorThrown);
        }
    })
}


function show_ajax_action(msg) {
    var p = $("<p></p>").html(msg).addClass("body");
    var d = new Date()
    var divTimestamp = $("<div style='font-style: italic; background-color: #EFEFEF'></div>").html(d.toString());
    p.prependTo("#divAjaxMessage");
    divTimestamp.prependTo("#divAjaxMessage");
}


function show_ajax_error(xmlhttprequest, textstatus, message) {
    console.log(message);
    var divStatus = $("<div></div>").html("AJAX ERROR: "+textstatus);
    var divMessage = $("<div></div>").html("Error message: "+xmlhttprequest.responseJSON['message']);
    var d = new Date()
    var divTimestamp = $("<div></div>").html(d.toString());
    var p = $("<p></p>").addClass("body red");
    p.append(divTimestamp);
    p.append(divStatus);
    p.append(divMessage);
    p.prependTo("#divAjaxMessage");

}

$(document).on("keypress", 'form', function (e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
        e.preventDefault();
        return false;
    }
});
</script>
{% endblock %}
