<!DOCTYPE html>
<html>
    <head>
        <title>Update AWS Resources</title>
        <style>
html,body{
    font-size: 14px;
    font-family: Inconsolata, "Ubuntu Mono", Consolas;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 5px;
}
        </style>
    </head>
    <body>
        <h1>Update AWS Resources</h1>
        <h3>{{profile.name}} - {{region.name}}</h3>
        <table>
            <tbody>
            {% for r in ret %}
            <tr><th colspan="2">{{r.0}}</th></tr>
            <tr>
                <td>{{r.1}}</td>
                <td>{{r.2}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
