html,body{
    font-size: 14px;
    font-family: Inconsolata, "Ubuntu Mono", Consolas;
}
tr.deviceNotKick {
    color: lightgray;
}

tr.aps1 {
    background-color: #ddffdd;
}
tr.euw1 {
    background-color: #ffddff;
}
tr.use1 {
    background-color: #ddeeff;
}