<!DOCTYPE html>
<html>
    <head>
        <title>User Token</title>
        <style>
table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid black;
    padding: 0.2em;
}
form {
    display:inline;
}
        </style>
    </head>
    <body>
        <h1>User Token</h1>
        <table>
            <caption>Tokens for {{ user.username }}</caption>
            <thead>
                <th>Key</th>    
                <th style="width:10em">Active</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% if tokens %}
                    {%for token in tokens%}
                    <tr>
                        <td>{{ token.key }}</td>
                        <td>{%if token.active %}Yes
                            <form action="{%url 'authtoken:toggle_token' user_id=user.id token_id=token.id%}"
                                  method="POST">{%csrf_token%}
                                  <input type="submit" name="action" value="Disable" />
                            </form>
                            {%else%}No
                            <form action="{%url 'authtoken:toggle_token' user_id=user.id token_id=token.id%}"
                                  method="POST">{%csrf_token%}
                                  <input type="submit" name="action" value="Enable" />
                            </form>{%endif%}</td>
                        <td> 
                            <form 
                            action="{% url 'authtoken:delete_token' user_id=user.id token_id=token.id %}" 
                            method="post">{% csrf_token %}
                                <input type="submit" name="delete" value="Delete" 
                                onclick="return confirm('Are you sure?')" />
                            </form>
                        </td>
                    </tr>
                    {%endfor%}
                {% else %}
                <td colspan="2">User has no tokens</td>
                {% endif %}
            </tbody>
        </table>
        <form method="POST">{% csrf_token %}
            <input type="submit" name="generate_key" value="New Key" onclick="return confirm('Are you sure?')" />
        </form>
    </body>
</html>
